<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="EasEntities" connectionString="metadata=res://*/EasModel.csdl|res://*/EasModel.ssdl|res://*/EasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.97.199;initial catalog=YNNZ2011001;persist security info=True;user id=sa;password=szy444?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>